<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' type='text/css' href='/vendor/bootstrap/dist/css/bootstrap.css'>
  <title>{{title}}</title>
</head>
<body>
  <div class='container-fluid'>
    <ul class='nav nav-pills'>
      <li class='nav-item'><a class="nav-link {%if path==='/'%} active {%endif%}" href="/">Home</a></li>
      <li class='nav-item'><a class="nav-link{%if path==='/employees'%} active {%endif%}" href="/employees">Employees</a></li>
    </ul>
    <br />
    <h2>We have <span class='badge badge-primary'>{{employeeCount}}</span> Employees and <span class='badge badge-primary'>{{managerCount}}</span> Managers</h2>
    <hr>
    <h1>{{title}}</h1>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>